<head>

  <!--- basic page needs
        ================================================== -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="Avnish">

  <!-- mobile specific metas
        ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
        ================================================== -->
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- script
        ================================================== -->
  <script src="/assets/js/modernizr.js"></script>

  <!-- favicons
        ================================================== -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="manifest" href="site.webmanifest">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N4NNS8MH5H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-N4NNS8MH5H');
  </script>

  {% seo %}

</head>