<head>

        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="Avnish">
    
        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/vendor.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    
        <!-- script
        ================================================== -->
        <script src="/assets/js/modernizr.js"></script>
    
        <!-- favicons
        ================================================== -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/assets/images/favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
    
    </head>
    