---
layout: default
---
{% include mathjax.html %}
<main class="row content__page">
                
    <article class="column large-full entry format-standard">

       
        <div class="content__page-header entry__header">
            <h1 class="display-1 entry__title">
            {{page.title}}
            </h1>
            <ul class="entry__header-meta">
                <li class="author">By <a href="#0">Avnish</a></li>
                <li class="date">{{ page.date | date: "%b %-d, %Y" }}</li>
                <li class="cat-links">
                    <a href="{{ page.categories[0] | remove:',' | append:'.html' | prepend:'/categories/' }}">{{ page.categories[0] | upcase | replace:'-',' ' | remove:','}}</a>
                    <a href="{{ page.categories[1] | remove:',' | append:'.html' | prepend:'/categories/' }}">{{  page.categories[1] | upcase | replace:'-',' ' }}</a>
                </li>
            </ul>
        </div> <!-- end entry__header -->

        <div class="entry__content">

            <p class="lead drop-cap">
            {{page.content}}
            </p>

            


            <p class="entry__tags">
                <span>Post Tags</span>

                <span class="entry__tag-list">
                    <a href="{{ page.categories[0] | remove:',' | append:'.html' | prepend:'/categories/' }}">{{ page.categories[0] | upcase | replace:'-',' ' | remove:','}}</a>
                    <a href="{{ page.categories[1] | remove:',' | append:'.html' | prepend:'/categories/' }}">{{  page.categories[1] | upcase | replace:'-',' ' }}</a>
                </span>

            </p>
        </div> <!-- end entry content -->

        <div class="entry__pagenav">
            <div class="entry__nav">
                <div class="entry__prev">
                    {% if page.previous.url %}
                        <a href="{{ page.previous.url }}" rel="prev">
                                <span>Previous Post</span>
                                {{ page.previous.title }} 
                        </a>
                    {% endif %}
                      
                    
                </div>
                <div class="entry__next">
                        {% if page.next.url %}
                        <a href="{{ page.next.url }}" rel="next">
                                <span>Next Post</span>
                                {{ page.next.title }} 
                        </a>
                    {% endif %}
                </div>
            </div>
        </div> <!-- end entry__pagenav -->

        <div class="entry__related">
            <h3 class="h2">Related Articles</h3>

            <ul class="related">

                {% if page.categories[0] == "linear-algebra" %}
                {% for post in site.categories.linear-algebra limit:3%}
                {% if page.url != post.url %}
                <li class="related__item">
                    <a href="{{post.url}}" class="related__link">
                        <img src="{{post.image}}" alt="">
                    </a>
                    <h5 class="related__post-title">{{post.title}}</h5>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if page.categories[0] == "machine-learning" %}
                {% for post in site.categories.machine-learning limit:3%}
                {% if page.url != post.url %}
                <li class="related__item">
                    <a href="{{post.url}}" class="related__link">
                        <img src="{{post.image}}" alt="">
                    </a>
                    <h5 class="related__post-title">{{post.title}}</h5>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if page.categories[0] == "statistics" %}
                {% for post in site.categories.statistics limit:3%}
                {% if page.url != post.url %}
                <li class="related__item">
                    <a href="{{post.url}}" class="related__link">
                        <img src="{{post.image}}" alt="">
                    </a>
                    <h5 class="related__post-title">{{post.title}}</h5>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}

               
            </ul>
        </div> <!-- end entry related -->

    </article> <!-- end column large-full entry-->


</main>