<!DOCTYPE html>
<html class="no-js" lang="en">


{% include header.html %}

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <!-- {% if page.about_page %}
                    <a class="site-logo" href="index.html">
                        <img src="/assets/images/website_logos/bovem2.png" alt="Homepage">
                    </a>
                    {% else %}
                    <a class="site-logo" href="index.html">
                        <img src="/assets/images/website_logos/bovem2.png" alt="Homepage">
                    </a>
                    {% endif %} -->
                    <a href="index.html">
                        <h2 style=" margin:0%; color: white; font-weight: bold; font-family: 'Montserrat';">bovem</h2>
                    </a>
                    

                </div>

                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="index.html" title="">BLOG</a></li>
                    <!-- {% if page.about_page %}
                    <li class="current"><a href="index.html" title="">Blog</a></li>
                    <li><a href="https://github.com/bovem" target="_blank">GitHub</a></li>
                    <li><a href="https://bovem.medium.com" target="_blank">Medium</a></li>
                    <li><a href="https://www.hackerrank.com/bovem" target="_blank">HackerRank</a></li>
                    <li><a href="https://www.linkedin.com/in/avnish-pal" target="_blank">LinkedIn</a></li>
                    <li><a href="https://www.kaggle.com/bovem98" target="_blank">Kaggle</a></li>
                    {% else %} -->
                    <!-- <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">

                            <li><a href="/DM/">DM</a></li>

                            <li><a href="/CALC/">CALC</a></li>
                            <li><a href="/LINALG/">LINALG</a></li>

                            <li><a href="/ALGO/">ALGO</a></li>

                            <li><a href="/CD/">CD</a></li>

                            <li><a href="/CN/">CN</a></li>

                            <li><a href="/CO/">CO</a></li>

                            <li><a href="/DLD/">DLD</a></li>

                            <li><a href="/CPROG/">CPROG</a></li>

                            <li><a href="/DBMS/">DBMS</a></li>

                            <li><a href="/OS/">OS</a></li>

                            <li><a href="/TOC/">TOC</a></li>

                        </ul>
                    </li> -->
                    <li><a href="/about.html" title="">ABOUT</a></li>
                    {% endif %}
                    <li><a href="/credits.html" title="">CREDITS</a></li>


                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-github">
                        <a href="https://github.com/bovem" target="_blank">
                            <span class="screen-reader-text">GitHub</span>
                        </a>
                    </li>
                    <!--
                    <li class="ss-twitter">
                        <a href="https://twitter.com/aipublication/" target="_blank">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                -->
                    <li class="ss-medium">
                        <a href="https://bovem.medium.com" target="_blank">
                            <span class="screen-reader-text">Medium</span>
                        </a>
                    </li>

                    <li class="ss-linkedin">
                        <a href="http://www.linkedin.com/in/avnish-pal" target="_blank">
                            <span class="screen-reader-text">LinkedIn</span>
                        </a>
                    </li>

                    <li class="ss-hackerrank">
                        <a href="https://www.hackerrank.com/bovem" target="_blank">
                            <span class="screen-reader-text">HackerRank</span>
                        </a>
                    </li>

                    <li class="ss-rss">
                        <a href="feed.xml" target="_blank">
                            <span class="screen-reader-text">Kaggle</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->



        </header> <!-- end s-header -->

        <div class="s-content">
            {% include mathjax.html %}
            <!-- Add webpage content here -->
            {{content}}

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        {% include footer.html %}

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>