<!DOCTYPE html>
<html class="no-js" lang="en">

{% include header.html %}

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="index.html">
                        <img src="/assets/images/ds.png" alt="Homepage">
                    </a>
                </div>
<!--
                <div class="header__search">
    
                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__search-close">Close</a>
        
                </div>  <!-- end header__search 

                
                <a href="#0" class="header__search-trigger"></a>-->
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="/index.html" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                        <li><a href="/categories/linear-algebra.html">Linear Algebra</a></li>
                        <li><a href="/categories/machine-learning.html">Machine Learning</a></li>
                        <li><a href="/categories/statistics.html">Statistics</a></li>
                        <!--<li><a href="category.html">Management</a></li>
                        <li><a href="category.html">Travel</a></li>
                        <li><a href="category.html">Work</a></li>-->
                        </ul>
                    </li>
                    <li><a href="/about.html" title="">About</a></li>
                    <li><a href="/contact.html" title="">Contact</a></li>
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-github">
                        <a href="https://github.com/dsblog/" target="_blank">
                            <span class="screen-reader-text">GitHub</span>
                        </a>
                    </li>
                    <li class="ss-linkedin">
                        <a href="https://www.linkedin.com/in/avnish-pal/" target="_blank">
                            <span class="screen-reader-text">LinkedIn</span>
                        </a>
                    </li>
                    <li class="ss-medium">
                        <a href="https://medium.com/@avnish98" target="_blank">
                            <span class="screen-reader-text">Medium</span>
                        </a>
                    </li>
                    <li class="ss-kaggle">
                        <a href="https://www.kaggle.com/avnishnish" target="_blank">
                            <span class="screen-reader-text">Kaggle</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->

        <div class="s-content">
            {{content}}
        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        {% include footer.html %}

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>