<!DOCTYPE html>
<html class="no-js" lang="en">


{% include header.html %}

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="/blog.html">
                        <img src="/assets/images/bovem5.png" alt="Homepage">
                        <!--<h2 style=" margin:0%; padding-top: 18%;padding-bottom: 18%;color: white;">OVERFIT</h2>-->
                    </a>
                </div>

                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="/blog.html" title="">Blog</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="/categories/MATH.html">Mathematics</a></li>
                            <hr>
                            <li><a href="/categories/DM.html">Discrete Mathematics</a></li>
                            <hr>
                            <li><a href="/categories/ALGO.html">Algorithms</a></li>
                            <hr>
                            <li><a href="/categories/CD.html">Compiler Design</a></li>
                            <hr>
                            <li><a href="/categories/CN.html">Computer Networking</a></li>
                            <hr>
                            <li><a href="/categories/CPROG.html">C Programming</a></li>
                            <hr>
                            <li><a href="/categories/DBMS.html">Database Mangement Systems</a></li>
                            <hr>
                            <li><a href="/categories/OS.html">Operating Systems</a></li>
                            <hr>
                            <li><a href="/categories/TOC.html">Theory of Computation</a></li>
                            <hr>
                        </ul>
                    </li>
                    <li><a href="/index.html" title="">About Me</a></li>



                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-github">
                        <a href="https://github.com/bovem" target="_blank">
                            <span class="screen-reader-text">GitHub</span>
                        </a>
                    </li>
                    <!--
                    <li class="ss-twitter">
                        <a href="https://twitter.com/aipublication/" target="_blank">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                -->
                    <li class="ss-medium">
                        <a href="https://bovem.medium.com/" target="_blank">
                            <span class="screen-reader-text">Medium</span>
                        </a>
                    </li>

                    <li class="ss-linkedin">
                        <a href="http://www.linkedin.com/in/avnish-pal/" target="_blank">
                            <span class="screen-reader-text">LinkedIn</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->



        </header> <!-- end s-header -->

        <div class="s-content">
            <!-- Add webpage content here -->
            {{content}}

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        {% include footer.html %}

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>